[submodule "ext/core"]
	path = ext/core
	url = https://github.com/OliveCommunity/core.git
	branch = dev
[submodule "ext/KDDockWidgets"]
	path = ext/KDDockWidgets
	url = https://github.com/OliveCommunity/KDDockWidgets.git
	branch = main
